@model IQueryable<contactsManager.Web.Models.ContactListViewModel>

<div id="contactList">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>

        @foreach (var contact in Model)
        {
            <tr>
                <td><img src="@Href(contact.PhotoUrl)" alt="" class="img-circle" height="50" width="50" /></td>
                <td><b>@contact.FirstName  @contact.LastName</b></td>
                <td><button class="btn btn-info">@Html.ActionLink("Detail", "Detail", new { contact.Id }, null)</button></td>
            </tr>
        }

    </table>

</div>

