@model IQueryable<contactsManager.Web.Models.ContactListViewModel>

@{
    ViewBag.Title = "Contact Manager";
}

<h1>@ViewBag.Title</h1>

<a href="@Url.Action("Create", "Contact")" >
    <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user "></span>
</a>


<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#contactList">
    <input type="search" name="searchTerm" />
    <button type="submit" class="btn-danger">Search</button>
</form>


@Html.Partial("_Contacts", Model)
